# Configuration file

general {
    # A transparent box behind the text [default: false]
    B:"Enable Text Background"=false

    # This is the pool of tips that will be displayed during the world loading screen [default: ]
    S:"Tip Lang Keys" <
        Aqueous soil from Roots above drawers is great for automating crops!
        Raw ores are affected by Fortune, just like modern versions of Minecraft.
        Wand of Animations works great with stabilized spawners.
        Wear Faraday armor around IE machines or uninsulated wires will electrocute you.
        Astral Sorcery's Vicio-attuned mantle and resonating wand synergize really well.
        Astral Sorcery floating crystals and Botania Kekimurus synergize really well.
        CC: Tweaked turtles are a cheap way to automate farming and digging!
        CC: Tweaked uses Lua, because of this, most Roblox Lua tutorials work in this pack.
        Going exploring with friends? Lootr gives each player their own loot from chests.
        Thaumcraft golemancy from the Thaumonomicon is a cheap way to automate farms.
        Want a specific biome for your base? A Nature's Compass helps you find it.
        Use a chisel to mine stone without having to smelt it.
        Hooked adds Terraria-style grappling hooks.
        Inventory problems? Craft Backpacks!
        Quark cave roots are edible!
        Visit the Plague Doctor if you're feeling sick
        Mekanism heat generators are great for early FE/RF
        Mekanism wind generators are cheap, eco-friendly early power
        Immersive Engineering treated crates act like shulker boxes
        Shift + right-click to carry entities
        Botania manasteel and terrasteel tools repair themselves using mana
        Use excavate on CC: Tweaked turtles for bulk digging
        Breaking HBM nether coal creates a deadly aura, mine with caution!
        Not all HBM items are safe to pick up or drop
        Craft earplugs to avoid siren hypnosis
        Beware of dragons in Ratlantis...
     >

    # This is a map that determines the wait time for tips in different languages
    # For example, en_us:0.1 refers to "wait 0.1s for each character for tips in English" [default: [en_us:0.1]]
    S:"Tip Wait Time" <
        en_us:0.1
     >
}